[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pdf2image = "*"
flask = "*"
pillow = "*"
gunicorn = "*"
werkzeug = "*"

[dev-packages]
black = "*"
mypy = "*"
isort = "*"
autoflake = "*"

[requires]
python_version = "3.11"

[scripts]
format = "make format"
